::-moz-selection {
  /* Code for Firefox */
  background-color: #b68834;
  color: #fff;
}

::selection {
  background-color: #b68834;
  color: #fff;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

b, sup, sub, u, del {
  color: #b68834;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}


.section-gap {
  margin-top: 60px;
  padding: 120px 0;
}

@media (max-width: 991.98px) {
  .section-title p br {
    display: none;
  }
}

.primary-btn {
  background-color: #b68834;
  line-height: 36px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.primary-btn:focus {
  outline: none;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover {
  color: #fff;
}

.primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #b68834;
}

.primary-btn.white:hover span {
  color: #b68834;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner-area {
  background: url(../img/header-bg.jpg) center;
  background-size: cover;
}

@media (max-width: 1199.98px) {
  .banner-area .fullscreen {
    height: 920px !important;
  }
}

@media (max-width: 768px) {
  .banner-area {
    background: url(../img/header-bg.jpg);
    background-position: 50% 90% 50% 50%;
  }
}

.banner-content {
  margin-top: -250px;
}

.banner-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-content h1 span {
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .banner-content h1 {
    font-size: 36px;
  }
}

@media (max-width: 1199.98px) {
  .banner-content h1 {
    font-size: 45px;
  }
}

@media (max-width: 414px) {
  .banner-content h1 {
    font-size: 40px;
  }
}

.banner-content h5 {
  font-weight: 400;
  letter-spacing: 3px;
}

@media (max-width: 414px) {
  .banner-content br {
    display: none;
  }
}

.primary-btn {
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
}

.primary-btn:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}


.review-area {
  background-color: #b68834;
  color: #fff;
}

.review-area h1, .review-area h4 {
  color: #fff;
}

.single-review .title {
  margin: 20px 0;
}

.single-review .star {
  margin-left: 20px;
}

.single-review .star .checked, .single-review .star  .fa-star-half-o{
  color: orange;
}

.counter-row {
  margin-top: 100px;
}

.counter-row .single-counter h1 {
  font-size: 60px;
  font-weight: 100;
}

@media (max-width: 767px) {
  .counter-row {
    text-align: center;
  }
}

.whole-wrap {
  background-color: #fff;
}

.white-bg {
  background: #fff;
}

.section-top-border {
  padding: 70px 0;
  border-top: 1px dotted #eee;
}


/* About Section */

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.container-fluid h1{
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #33211D;
}

.section-title {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: 1px;
  background: #DA9F5B;
}

.text-primary {
  color: #DA9F5B !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #be792b;
}

.btn-secondary {
  color: #fff;
  background-color: #33211D;
  border-color: #33211D;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #1b110f;
  border-color: #120c0b;
}

.btn-primary {
  color: #212529;
  background-color: #DA9F5B;
  border-color: #DA9F5B;
}

.btn-primary:hover {
  color: #212529;
  background-color: #d38d3c;
  border-color: #d18731;
}

/* Offer */
.offer{
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-top::before,
.overlay-bottom::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 1;
}

.overlay-top::before {
  top: -1px;
  background: url(../img/overlay-top.png);
}

.overlay-bottom::after {
  bottom: -1px;
  background: url(../img/overlay-bottom.png);
}

/* MENU */

.inner-menu-box .nav-pills .nav-link.active{
  color: #fff;
  background-color: #33211D;
  border-color: #33211D;
}

.inner-menu-box .nav-pills .nav-link:hover{
  color: #fff;
  background-color: #1b110f;
  border-color: #120c0b;
}

.inner-menu-box .nav-pills .nav-link{
	font-size: 20px;
  font-weight: 400;
  color: #33211D;
}

.gallery-single{
	margin-bottom: 30px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
  position: absolute;
  left: 0;
  bottom: -81%;
  right: 0;
  height: 100%;
  background: #DA9F5B;
  padding: 12px 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.why-text h4{
color: #ffffff;
font-size: 16px;
font-weight: 500;
font-family: 'Rubik', sans-serif;
}

.why-text p{
color: #ffffff;
font-size: 13px;
border-bottom: 1px dashed #010101;
margin: 0px;
padding-bottom: 15px;
margin-top: 0px;
margin-bottom: 15px;
}

.why-text h5{
font-size: 18px;
font-weight: 600;
color: #ffffff;
}

.gallery-single:hover .why-text{
bottom: 0px;
}

.reservation{
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}